.search-box {
  display: flex;
  margin-right: 4rem;
}

.search-box input {
  width: 40%;
  height: 1.5rem;
}

@media (min-width: 40rem) {
  .search-box {
    margin-right: 0;
    width: 30%;
  }

  .search-box input {
    width: 50%;
  }
}
