.notification {
  border: 1.5px solid #83c21d;
  border-radius: 3px;
  background: #aae5aa;
  margin: 0.5rem 1.5rem;
  padding: 0.2rem 0.5rem;
}

.alert {
  border: 1.5px solid red;
  background: #fd9f9f;
}

@media (min-width: 40rem) {
  .notification {
    margin: 0.5rem;
  }
}
